<%- include('../head', {title: title}) %> <%- include('../header') %>

<main>
  <h1>All Categories</h1>
  <div>
    <ul class="list">
      <% categories.forEach(cat => { %>
      <li>
        <a href="<%= cat.url %>"><strong><%= cat.name %></strong></a>
        <p><%= cat.description %></p>
      </li>
      <% }) %>
    </ul>
  </div>
  <nav>
    <a href="/inventory/category/create">Create category</a>
  </nav>
</main>

<%- include('../footer') %>
