<%- include('../head', {title: title}) %> <%- include('../header') %>

<main>
  <h1>All products %></h1>
  <div>
    <ul class="list">
      <% products.forEach(item => { %>
      <li>
        <a href="<%= item.url %>"><%= item.name %></a> | $<%= item.price %> |
        stock: <%= item.stock %>
      </li>
      <% }) %>
    </ul>
  </div>
  <nav>
    <a href="/inventory/products/create">Create Product</a>
  </nav>
</main>

<%- include('../footer') %>
