<%- include('../head', {title: title}) %> <%- include('../header') %>

<main>
  <h1><%= product.name %></h1>
  <p>
    <a href="<%= product.category.url %>"
      >Category: <%= product.category.name %></a
    >
  </p>
  <br />
  <hr />
  <br />
  <div>
    <p><%= product.description %></p>
  </div>
  <div>
    <dl>
      <dt>Price</dt>
      <dd><%= product.price %></dd>
      <dt>Stock</dt>
      <dd><%= product.stock %></dd>
    </dl>
    <img src="<%= '/data/uploads/'+product.imageurl %>" alt="product" />
  </div>
  <br />
  <nav>
    <a href="<%= '/inventory/products/' + product._id + '/update' %>"
      >Update product</a
    >
    <a href="<%= '/inventory/products/' + product._id + '/delete' %>"
      >Delete product</a
    >
    <a href="<%= '/inventory/products/' + product._id + '/image' %>"
      >Upload product image</a
    >
  </nav>
</main>

<%- include('../footer') %>
